html {
    width: 100%;
    height: 100%;
} 

body {
    position: absolute;
    padding: 50px;
    padding-top: 0px;
    margin: auto auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header {
    padding: 0;
    margin: 0;
    position: relative;
    height: 15%;
    align-content: center;
}

header h1 {
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    height: 85%;
}

board {
    position: relative;
    width: 100%;
    display: block;
    border: 1px solid black;
    background-color: yellow;
}

space {
    float: left;
    overflow: hidden;
    align-content: center;
    text-align: center;
}

.blacks-turn space:hover {
    background-color: black;

}

.space {
    margin: auto auto;
    position: relative;
    display:inline-block;
    overflow: hidden;
}