html {
    width: 100%;
    height: 100%;
} 

body {
    position: absolute;
    padding: 50px;
    padding-top: 0px;
    margin: auto auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header {
    padding: 0;
    margin: 0;
    position: relative;
    height: 15%;
    align-content: center;
}

header h1 {
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    height: 85%;
}

board {
    position: relative;
    width: 100%;
    display: block;
    border: 1px solid black;
}

space {
    position: relative;
    float: left;
    overflow: hidden;
    align-content: center;
    text-align: center;
}

.blacks-turn .piece:hover {
    background-color: black;
    opacity: 0.2;
}

.whites-turn .piece:hover {
    background-color: white;
    opacity: 0.2;
}

.space {
    width: 100%;
    height: 100%;
    padding: auto;
    position: relative;
    display:inline-block;
    background-image: url("./assets/grid.svg");
    background-size: contain;
}

svg {
    display: inline-block;
}

.left .space {
    background-image: url("./assets/left-edge.svg");
}

.right .space {
    background-image: url("./assets/right-edge.svg");
}

.top .space {
    background-image: url("./assets/top-edge.svg");
}

.bottom .space {
    background-image: url("./assets/bottom-edge.svg");
}

.top.right .space {
    background-image: url("./assets/top-right-corner.svg");
}

.bottom.right .space {
    background-image: url("./assets/bottom-right-corner.svg");
}

.bottom.left .space {
    background-image: url("./assets/bottom-left-corner.svg");
}

.top.left .space {
    background-image: url("./assets/top-left-corner.svg");
}

.star .space {
    background-image: url("./assets/star.svg");
}

.piece {
    width: 90%;
    height: 90%;
    top: 49%;
    transform: translateY(-50%);
    position: relative;
    display:inline-block;
    overflow: hidden;
    border-radius: 50%;
}

.piece.black {
    background-color: black;
}

.piece.white {
    background-color: white;
}

.move-banner {
    width: 200px;
    margin-top: 0px;
    margin-bottom: 50px;
    border: 1px solid black;
    font-size: x-large;
    text-align: center;
}

.move-banner.black {
    background-color: black;
    color: white;
}

